
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>e-clinic</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" /> 
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<link href="~/Content/Styles.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/imagehover.css" rel="stylesheet" />
        <link href="~/Content/animate.css" rel="stylesheet" />*@
    <script src="~/Scripts/RegisterHospital.js"></script>
    <script>
    function check_pass(){
    if (document.getElementById('password').value==document.getElementById('ppwdconfirm').value){
        document.getElementById('submit').disabled = false;
        document.getElementById('message').innerHTML = "passwords match";
        }
            else {
        document.getElementById('submit').disabled = true;
        document.getElementById('message').innerHTML = "passwords doesn't match";
        //alert('passwords doesnt match');
        }
    }

    $(document).ready(function () {

        $("#password").focus();

        $("#pwcheck").click(function () {
            if ($("#pwcheck").is(":checked")) {
                $("#password").clone()
                .attr("type", "text").insertAfter("#password")
                .prev().remove();
            }
            else {
                $("#password").clone()
                .attr("type", "password").insertAfter("#password")
                .prev().remove();
            }
        });
    });

    $(document).ready(function () {

        $("#ppwdconfirm").focus();

        $("#pwcheck2").click(function () {
            if ($("#pwcheck2").is(":checked")) {
                $("#ppwdconfirm").clone()
                .attr("type", "text").insertAfter("#ppwdconfirm")
                .prev().remove();
            }
            else {
                $("#ppwdconfirm").clone()
                .attr("type", "password").insertAfter("#ppwdconfirm")
                .prev().remove();
            }
        });
    });

    </script>

    <style>
        .spancss {
            color: red;
            font-style: italic;
        }
    </style>

</head>
<body>
    <div class="container">
        <h2>Hospital Registration form</h2>
        <br />
        <form class="form-horizontal" action="AdminPage">
            <div class="form-group">
                <label class="control-label col-sm-2">User Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Enter User name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Contact Number:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Pno" placeholder="Enter contact number">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                    <input type="checkbox" id="pwcheck" />Show Password
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="ppwdconfirm">Confirm Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="ppwdconfirm" placeholder="confirm password" onchange='check_pass();' required>
                    <span id="message" class="spancss"></span>
                    <input type="checkbox" id="pwcheck2" />Show Password
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="submit" onclick="HospitalRegistration()" disabled>Submit</button>
                </div>
            </div>

        </form>
    </div>
    <script src="~/Scripts/RegisterHospital.js"></script>
</body>
</html>

