
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>e-clinic</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" /> 
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<link href="~/Content/Styles.css" rel="stylesheet" />*@
    <link href="~/Content/font-awesome-animation.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/imagehover.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <style>
        .parallax {
            background-image: url('../../images/doc_scope2.jpg');
            /*opacity:0.65;*/
            min-height: 200px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .fa {
            color: cornflowerblue;
        }

        .myJumbotron {
            background-color: white;
            height: 350px;
            padding: 5px;
            background-image: url('../../images/derik.jpg');
        }

        .imgborder {
            padding: 5px 5px 5px;
            background-color: white;
            box-shadow: 0 1px 2px rgba(34,25,25,0.4);
            -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
            -webkit-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
        }

        .btnwidth {
            width: 200px;
        }
        .hrheight{
            border:3px solid skyblue;
        }
    </style>
</head>
<body>
    <div>
        <div class="col-md-12 col-xs-12">
            <div class="jumbotron myJumbotron">
                <div style="text-align:center ">
                    <div><p style="text-align:center; color:black; font-family:'Colonna MT'; font-size:80px;">E-clinic</p></div>
                    <!--<div class="animated pulse infinite"><p style="text-align:center; color:black; font-family:'Colonna MT'; font-size:80px;">E-clinic</p></div>-->
                    <a href="Home"><img src="~/images/icon175x175.png" height="175" width="175" alt="logo" /></a>
                    <p style="text-align:center">somthing about the e-clinic.....</p>
                </div>
            </div>

            <div class="container">
                <div style="background-color:grey; height:auto; text-align:center; width:inherit; font-family:Haettenschweiler; font-size:25px">
                    We find you a Doctor
                </div>
                <div style="text-align:justify">
                    <p>You are not feeling ok? If it isn’t from a usual flue or fever may be you are suffering from a non-communicable disease. Don’t worry. We support you to find the most suitable specialist for your sickness. All you have to do is go through this application and select your symptoms. We suggest you the most suitable disease and a most relevant doctor and when and where to channel him/her. Please sign up from the home page and go through the application. Beside these facilities you can easily pay channeling fees online.   </p>
                    <br />
                    More information on non-communicable diseases: &nbsp;<a href="NonCommunicableDiseases" class="btn btn-success btnwidth">Click here</a>
                </div>
                <br />
                <br />
                <div style="background-color:grey; height:auto; text-align:center; width:inherit; font-family:Haettenschweiler; font-size:25px">
                    Pharmacy assistance
                </div>
                <div style="text-align:justify">
                    <p style="text-align:justify">Wasting time to find pharmacies? Check pharmacy feature from here. Enter you place and find out which pharmacy is near you. </p>
                    <a href="PharmacySearch" class="btn btn-danger btnwidth">check near pharmacies</a>
                </div>
                <br />
                <br />
                <div style="background-color:grey; height:auto; text-align:center; width:inherit; font-family:Haettenschweiler; font-size:25px">
                    Genarate report
                </div>
                <div style="text-align:justify">
                    <p style="text-align:justify">Do you want to know how the present stats of non-communicable diseases, most channeled doctors and other details? This is the place. Details are in charts and graphs. Review and save. </p>
                    <a href="ReportPage" class="btn btn-danger btnwidth">view reports</a>
                </div>

            </div>


            <hr class="hrheight" />
            <footer>
                @*<p style="font-size:24px">Quick access</p>*@
                <button class="btn-warning btn-lg">Quick access</button>
                <br />
                <div style="background-color:teal; height:auto; padding:15px; text-align:center; opacity:1;">
                    <div class="row">
                        <div class="col-md-1 col-xs-1">
                            <a href="PharmacySearch" target="_blank" class="btn faa-parent animated-hover fa-lg fa-border" title="search nearby pharmacies"><i class="fa fa-map-marker fa-fw faa-tada animated" style="color:orange"></i></a>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <a href="ReportPage" target="_blank" class="btn faa-parent animated-hover fa-lg fa-border" title="view reports"><i class="fa fa-book fa-fw faa-tada animated" style="color:orange"></i></a>
                        </div>
                    </div>
                </div>
                <br />
                <div style="background-color:#ffffff; height:auto; padding:15px; text-align:center; opacity:1;">
                    <div class="row">
                        <div class="col-md-1 col-xs-1">
                            <a href="https://www.facebook.com/" target="_blank" class="btn faa-parent animated-hover fa-lg fa-border"><i class="fa fa-facebook fa-fw faa-shake"></i></a>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <a href="https://www.instagram.com/" target="_blank" class="btn faa-parent animated-hover fa-lg fa-border"><i class="fa fa-instagram fa-fw faa-shake"></i></a>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <a href="https://plus.google.com/" target="_blank" class="btn faa-parent animated-hover fa-lg fa-border"><i class="fa fa-google-plus fa-fw faa-shake"></i></a>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new/" target="_blank" class="btn faa-parent animated-hover fa-lg fa-border"><i class="fa fa-envelope fa-fw faa-shake"></i></a>
                        </div>
                    </div>
                </div>
                <br />
                <a href="Services" class="afontwhite">Services</a>&nbsp;&nbsp;&nbsp;<a href="AboutUs" class="afontwhite">About Us</a>&nbsp;&nbsp;&nbsp;<a href="ContactUs" class="afontwhite">Contact Us</a>&nbsp;&nbsp;&nbsp;<a href="Developer" class="afontwhite">Developer</a>&nbsp;&nbsp;&nbsp;<a href="AdminLogin" class="afontwhite">Admin</a>
                <p>&copy;&nbsp;Enigma.All Right Reserved &nbsp; @DateTime.Now &nbsp;All Right Reserved</p>
                <div class="display-field">
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
